[submodule "meta/dotbot.git"]
	path = meta/dotbot.git
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "meta/plugins/dotbot-sudo.git"]
	path = meta/plugins/dotbot-sudo.git
	url = https://github.com/DrDynamic/dotbot-sudo.git
[submodule "meta/plugins/dotbot-aptget.git"]
	path = meta/plugins/dotbot-aptget.git
	url = https://github.com/alegsan/dotbot-aptget.git
